# Conexión a IceGrid
Ice.Default.Locator=IceGrid/Locator:tcp -h 192.168.131.103 -p 40620

# ID de la instancia del servidor
Server.Instance.Id=ServerInstance2

# Configuración del adaptador ServerAdapter2
ServerAdapter2.AdapterId=ServerAdapter2ID
ServerAdapter2.Endpoints=tcp -p 10002

# Base de datos
database.votaciones.url = jdbc:postgresql://192.168.131.101:5432/votaciones
database.votaciones.user = electuser
database.votaciones.password = 123456

database.elections.url = jdbc:postgresql://192.168.131.101:5432/elections
database.elections.user = electuser
database.elections.password = 123456

# Logging básico
Ice.Warn.Connections=1